.button {
    padding: 10px;

    color: white;
    background-color: #325a11;
    border: none;
    border-radius: 12px;

    transition: all .1s ease-in-out;

    &:hover {
        color: black;
        background-color: #c9f89f;
    }

    &:active {
        background-color: #6f955f;
        transform: scale(.95);
    }
}